{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;800&display=swap');

  #cardtitle {
    font-family: 'Black Han Sans', sans-serif;
  }

  #cardbody {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
  }

  #cardinfo {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
  }

  #commenttitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    font-weight: 800;
  }

  #commentinfo{
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
  }

  #commnetbody{
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
  }
</style>

  <div class="container">
    <a class="d-flex justify-content-end mt-2" href="javascript:history.back()">
      <i class="bi bi-arrow-left-square" style="color: #50C785; font-size: 2rem;"></i>
    </a>
    <div class="card mt-5 mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ movie.poster_path }}" class="img-fluid rounded-start" alt="poster">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 id="cardtitle" class="card-title fw-bold" 
            style="background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
            {{ movie.title }}</h1>
            <br>
            <br>
            <p class="card-text" id="cardbody" >{{ movie.overview }}</p>
            <br>
            <br>
            <p class="card-text fw-bold">✔ 장르 : {% for genre in movie.genres.all %}
              {{ genre.name }}
              {% endfor %}</p>
            <p class="card-text fw-bold">✔ 관객 수 : {{ movie.popularity }}명</p>
            <p class="card-text fw-bold">✔ 평점 : {{ movie.vote_average }} / 10</p>
            <p class="card-text fw-bold">✔ 개봉일 : {{ movie.release_date|date:"Y년-m월-d일" }}</p>
          </div>
        </div>
      </div>
    </div>


  <div class="container mt-5">
    <p id="commenttitle" style="border-left: 10px solid #AD9AEE; padding: 0.5em; border-bottom: 2px solid #AD9AEE; ">한줄평</p>
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% else %}
      {% if request.user.is_authenticated %}
        <div class="container">
        <form id="create_comment" action="{% url 'movies:create_comment' movie.pk %}" method="POST">
          {% csrf_token %} 
          <p id="commnetbody" style="font-size: 18px;">⭐ Rating: {{ comment_form.rating }}</p>
          <span id="commnetbody" style="font-size: 18px;">✏ Content: {{ comment_form.content }}</span>
          <input class="btn btn-outline-success btn-sm mx-3" type="submit">
        </form>
        </div>
      {% endif %}
    {% endif %}
  </div>
  <br>
  <hr>
  <div id="comment">
    {% for comment in comments %}
      <p id="commentinfo">😀작성자 : {{comment.user}}　　⭐평점 : {{comment.rating}}
        {% if comment.user == request.user %}
        <button id="delete" class="{{comment.pk}} mx-5 btn btn-outline-info">삭제</button>
        {% endif %}
      </p>
      <p id="commnetbody" class="fw-bold">{{comment.content}}</p><hr class="mb-3">
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script>
    const movie_pk = {{ movie.pk }}
    const delete_buttons = document.querySelectorAll('#delete')
    delete_buttons.forEach(delete_button => {
      delete_button.addEventListener('click', function(){
        const comment_pk = delete_button.className.split(' ')[0]

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'

        axios.post(`http://127.0.0.1:8000/${movie_pk}/comments/${comment_pk}/delete`)
        .then(res =>
        $('#comment').load(window.location.href+' #comment'))
        .catch(err =>
        console.log(err))
      })
    })

  </script>
{% endblock script %}