{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <h1>Movies </h1>
  <input onkeypress="if(event.keyCode==13){searchinput();}" type="text" id="keyword" name="keyword">
  <button id="search">검색</button>
  <br>
  <a href="{% url 'movies:recommend' %}">영화추천</a>
  <div class="row">
    {% for movie in movies %}
    <div class="card my-3 mx-3" style="width: 18rem;">
      <img src={{movie.poster_path}} class="card-img-top" alt="card" style="height: 24rem;">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        {% if movie.title|length < 15 %}
          <br>
        {% endif %}
        <p class="card-text">
          장르 : {% for genre in movie.genres.all %}
          {{genre.name}} {% endfor %} <br>
          개봉일 : {{ movie.release_date|date:"Y-m-d" }} <br>
          평점 : {{ movie.vote_average }}<br>
          관객 : {{ movie.popularity }}명 <br>
          {% if user.is_authenticated %}
            {% if request.user in movie.like_users.all %}
              <a id="likeBtn" href="{% url 'movies:like' movie.pk %}"><i style="color:red;" class="fa fa-heart fa-2x"></i></a>
            {% else %}
              <a id="likeBtn" href="{% url 'movies:like' movie.pk %}"><i style="color:black;" class="fa fa-heart fa-2x"></i></a>
            {% endif %}
          {% endif %}
          <p id="like{{movie.pk}}">{{ movie.like_users.all|length }}명이 이 영화를 좋아합니다.</p>
        </p>
        <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">Detail</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script>
    likebtns = document.querySelectorAll('#likeBtn')

    likebtns.forEach(likebtn => {
      likebtn.addEventListener('click', function(event){
        event.preventDefault()
        
        const movie_pk = likebtn.href.split('/')[4]
        const likep = document.querySelector(`#like${movie_pk}`)
        axios.get(likebtn.href)
        .then(response => {
          if (likebtn.children[0].style.color == 'red'){
            likebtn.children[0].style.color = 'black'
          } else {
            likebtn.children[0].style.color = 'red'
          }
          likep.innerText = `${response.data.count} 명이 이 영화를 좋아합니다.`
        })
      })
    })

    const searchbtn = document.querySelector('#search')
    searchbtn.addEventListener('click', function(){
      if (keyword.value.length < 2){
        alert('두 글자 이상 입력해주세요.')
      } else {
        window.location.href = `http://127.0.0.1:8000/movies/search/index/${keyword.value}`
      }
    })

    function searchinput(){
      if (keyword.value.length < 2){
        alert('두 글자 이상 입력해주세요.')
      } else {
        window.location.href = `http://127.0.0.1:8000/movies/search/index/${keyword.value}`
      }
    }
  </script>
{% endblock script %}
