{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');
  #cardtitle {
    font-family: 'Black Han Sans', sans-serif;
  }

  #cardbody {
    font-family: 'Noto Sans KR', sans-serif;
  }

  input {
    color: #666;
    z-index: 2;
    border: 0 none;
  }

  input:focus {
    outline: 0 none;
  }

  input:focus + button {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  input:focus + button .fa {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    color: #fff;
  }
  
  button {
    z-index: 1;
    width: 50px;
    border: 0 none;
    background: #ceb980;
    cursor: pointer;
    border-radius: 0 5px 5px 0;  
    -webkit-transform: translate(-50px, 0);
        -ms-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  
  .fa-search {
    font-size: 1.4rem;
    color: #29abe2;
    z-index: 3;
    top: 25%;
    -webkit-transform: translate(-190px, 0);
        -ms-transform: translate(-190px, 0);
            transform: translate(-190px, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  .buttons {
      margin: 5%;
      text-align: center;
  }

  .btn-hover {
      width: 300px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 55px;
      text-align:center;
      border: none;
      background-size: 300% 100%;

      border-radius: 100px;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }

  .btn-hover:hover {
      background-position: 200% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }

  .btn-hover:focus {
      outline: none;
  }

  .btn-hover.color-1 {
      background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }

</style>
  <br>
  <div class="d-flex justify-content-end">
    <input onkeypress="if(event.keyCode==13){searchinput();}" type="text" id="keyword" name="keyword" placeholder="영화검색"
    style="
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0;
    display: inline-block;
    float: left;
  ">
    <button id="search" class="text-white fw-bold"  style="
    position: relative;
    height: 50px;
    padding: 0;
    display: inline-block;
    float: left;
  ">검색</button> 
  </div>
  <br>
  <br>
  <div class="row">
    {% for movie in movies %}
    <div class="card my-3 mx-3" style="width: 18rem;">
      <img src={{movie.poster_path}} class="card-img-top" alt="card" style="height: 24rem;">
      
      <div class="card-body" id="cardbody">
        <div align="right">
          {% if user.is_authenticated %}
          {% if request.user in movie.like_users.all %}
            <a id="likeBtn" href="{% url 'movies:like' movie.pk %}"><i style="color:red;" class="fa fa-heart fa-2x"></i></a>
          {% else %}
            <a id="likeBtn" href="{% url 'movies:like' movie.pk %}"><i style="color:black;" class="fa fa-heart fa-2x"></i></a>
          {% endif %}
          {% endif %}
        </div>
        <br>
        <h5 class="card-title" id="cardtitle" style="background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{ movie.title }}</h5>
        {% if movie.title|length < 15 %}
          <br>
        {% endif %}
        <p class="card-text">
          장르 : {% for genre in movie.genres.all %}
          {{genre.name}} {% endfor %} <br>
          개봉일 : {{ movie.release_date|date:"Y-m-d" }} <br>
          평점 : {{ movie.vote_average }}<br>
          관객 : {{ movie.popularity }}명 <br>
          <p  class="fw-bold" id="like{{movie.pk}}">{{ movie.like_users.all|length }}명이 이 영화를 좋아합니다.</p>
        </p>
        <div class="buttons justify-content-between">
          <a href="{% url 'movies:detail' movie.pk %}" class="btn-hover color-1">Detail</a>
          {% if user.is_superuser %}
            <a id="deleteBtn" href="#" class="btn-hover color-1 {{movie.pk}}">DELETE</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script>
    likebtns = document.querySelectorAll('#likeBtn')

    likebtns.forEach(likebtn => {
      likebtn.addEventListener('click', function(event){
        event.preventDefault()
        
        const movie_pk = likebtn.href.split('/')[4]
        const likep = document.querySelector(`#like${movie_pk}`)
        axios.get(likebtn.href)
        .then(response => {
          if (likebtn.children[0].style.color == 'red'){
            likebtn.children[0].style.color = 'black'
          } else {
            likebtn.children[0].style.color = 'red'
          }
          likep.innerText = `${response.data.count} 명이 이 영화를 좋아합니다.`
        })
      })
    })

    const searchbtn = document.querySelector('#search')
    searchbtn.addEventListener('click', function(){
      if (keyword.value.length < 2){
        alert('두 글자 이상 입력해주세요.')
      } else {
        window.location.href = `http://127.0.0.1:8000/movies/search/index/${keyword.value}`
      }
    })

    function searchinput(){
      if (keyword.value.length < 2){
        alert('두 글자 이상 입력해주세요.')
      } else {
        window.location.href = `http://127.0.0.1:8000/movies/search/index/${keyword.value}`
      }
    }

    const deletebtns = document.querySelectorAll('#deleteBtn')
    deletebtns.forEach(deletebtn => {
      deletebtn.addEventListener('click', function(event) {
        console.log('hi')
        event.preventDefault()
        movie_pk = deletebtn.className.split(' ')[2]

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'

        axios.post(`http://127.0.0.1:8000/${movie_pk}/delete`)
        .then(res =>
        location.reload())
        .catch(err =>
        console.log(err))
      })
    })
  </script>
  
{% endblock script %}
