{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<style> 
  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }

  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }

  #text {
    margin-top: -35px;
    text-align: center;
  }
  
  #text a {
    color: Black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }

  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
  }
</style>

  {% comment %} <h1 id="title">영화추천</h1> {% endcomment %}
  <br>
  <div class="buttons" align="center">
      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <input id="averageBtn" type="submit" class="btn" value="평점순">
          </div>
        </svg>
      </div>

      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <input id="popularityBtn" type="submit" class="btn" value="관람객 순">
          </div>
        </svg>
      </div>

      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <input id="releasedateBtn"type="submit" class="btn" value="개봉일 순">
          </div>
        </svg>
      </div>
  </div>

  <hr class="mt-5">

  <div id="movieList">
  </div>
{% endblock content %}

{% block script %}
<script>
  const title = document.querySelector('#title')
  const averageBtn = document.querySelector('#averageBtn')
  const popularityBtn = document.querySelector('#popularityBtn')
  const releasedateBtn = document.querySelector('#releasedateBtn')

  averageBtn.addEventListener('click', function(event){
    event.preventDefault()
    title.innerText = "평점 순"
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/movies/recommended/vote/'
    })
    .then(res => {
      const movies = res.data
      movies.forEach(movie => {
        const movieDiv = document.createElement('div')

        const h2 = document.createElement('h2')
        h2.innerText = movie.title

        const img = document.createElement('img')
        img.src = movie.poster_path

        const p_overview = document.createElement('p')
        p_overview.innerText = movie.overview

        const p_vote = document.createElement('p')
        p_vote.innerText = `평점 : ${movie.vote_average}`

        const a = document.createElement('a')
        a.innerText = '[DETAIL]'
        a.href = `/movies/${movie.id}/`

        const hr = document.createElement('hr')

        movieDiv.append(h2, img, p_overview, p_vote, a, hr)
        movieList.appendChild(movieDiv)
      })
    })
  })

  popularityBtn.addEventListener('click', function(event){
    event.preventDefault()
    title.innerText = "관람객 순"
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/movies/recommended/popularity/'
    })
    .then(res => {
      const movies = res.data
      movies.forEach(movie => {
        const movieDiv = document.createElement('div')

        const h2 = document.createElement('h2')
        h2.innerText = movie.title

        const img = document.createElement('img')
        img.src = movie.poster_path

        const p_overview = document.createElement('p')
        p_overview.innerText = movie.overview

        const p_popularity = document.createElement('p')
        p_popularity.innerText = `관람객 : ${movie.popularity}`

        const a = document.createElement('a')
        a.innerText = '[DETAIL]'
        a.href = `/movies/${movie.id}/`

        const hr = document.createElement('hr')

        movieDiv.append(h2, img, p_overview, p_popularity, a, hr)
        movieList.appendChild(movieDiv)
      })
    })
  })

  releasedateBtn.addEventListener('click', function(event){
    event.preventDefault()
    title.innerText = "개봉일 순"
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/movies/recommended/releasedate/'
    })
    .then(res => {
      const movies = res.data
      movies.forEach(movie => {
        const movieDiv = document.createElement('div')

        const h2 = document.createElement('h2')
        h2.innerText = movie.title

        const img = document.createElement('img')
        img.src = movie.poster_path

        const p_overview = document.createElement('p')
        p_overview.innerText = movie.overview

        const p_release_date = document.createElement('p')
        p_release_date.innerText = `개봉일 : ${movie.release_date}`

        const a = document.createElement('a')
        a.innerText = '[DETAIL]'
        a.href = `/movies/${movie.id}/`

        const hr = document.createElement('hr')

        movieDiv.append(h2, img, p_overview, p_release_date, a, hr)
        movieList.appendChild(movieDiv)
      })
    })
  })
</script>
{% endblock script %}