{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<style> 
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;800&display=swap');

  #cardtitle {
    font-family: 'Black Han Sans', sans-serif;
  }

  #cardbody {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
  }

  #cardinfo {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
  }

  #commenttitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    font-weight: 800;
  }

  #commentinfo{
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
  }

  #commnetbody{
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
  }

  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }

  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }

  #text {
    margin-top: -35px;
    text-align: center;
  }
  
  #text a {
    color: Black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }

  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
  }

  .buttons {
      margin: 5%;
      text-align: center;
  }

  .btn-hover {
      width: 300px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 55px;
      text-align:center;
      border: none;
      background-size: 300% 100%;

      border-radius: 100px;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }

  .btn-hover:hover {
      background-position: 200% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }

  .btn-hover:focus {
      outline: none;
  }

  .btn-hover.color-1 {
      background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
</style>

<div class="buttons" align="center">
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150"/>
        <div id="text">
          <input id="averageBtn" type="submit" class="btn fw-bold" value="랭킹순">
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <input id="popularityBtn" type="submit" class="btn fw-bold" value="관람객 순">
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <input id="nowPlayingBtn"type="submit" class="btn fw-bold" value="현재 상영작">
        </div>
      </svg>
    </div>

    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <input id="upComingBtn"type="submit" class="btn fw-bold" value="차기 상영작">
        </div>
      </svg>
    </div>

    {% if user.is_authenticated %}
      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <input id="myRecommendBtn"type="submit" class="btn fw-bold" value="나만의 추천">
          </div>
        </svg>
      </div>
    {% endif %}
</div>

  <hr class="mt-5">

  <div id="movieList" class="container"></div>
{% endblock content %}

{% block script %}

<script>
  const title = document.querySelector('#title')
  const averageBtn = document.querySelector('#averageBtn')
  const popularityBtn = document.querySelector('#popularityBtn')
  const nowPlayingBtn = document.querySelector('#nowPlayingBtn')
  const upComingBtn = document.querySelector('#upComingBtn')
  const myRecommendBtn = document.querySelector('#myRecommendBtn')
  var detail_btns = document.querySelectorAll('#detailMovie')
  const movies = JSON.parse("{{ movies_js | escapejs }}")
  const movies_all = JSON.parse("{{ movies_all_js | escapejs }}")

  averageBtn.addEventListener('click', function(event){
    event.preventDefault()
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/recommended/vote/'
    })
    .then(res => {
      const movies_res = res.data.results
      movies_res.forEach(movie_res => {
        const cardDiv = document.createElement('div')
        cardDiv.className= 'card mt-5 mb-3'

        const rowDiv = document.createElement('div')
        rowDiv.className= 'row g-0'

        const imgDiv = document.createElement('div')
        imgDiv.className = 'col-md-4'

        const img = document.createElement('img')
        img.src = `https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie_res.poster_path}`
        img.className = 'img-fluid rounded-start'

        const colDiv = document.createElement('div')
        colDiv.className = 'col-md-8'

        const bodyDiv = document.createElement('div')
        bodyDiv.className = 'card-body'

        const h1 = document.createElement('h1')
        h1.id = 'cardtitle'
        h1.className = 'card-title fw-bold'
        h1.style.background = 'linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd)'
        h1.style.WebkitBackgroundClip = 'text'
        h1.style.WebkitTextFillColor = 'transparent'
        h1.innerText = movie_res.title

        const br = document.createElement('br')

        const p_overview = document.createElement('p')
        p_overview.id = 'cardbody'
        p_overview.className = 'card-text'
        p_overview.innerText = movie_res.overview

        const p_genre = document.createElement('p')
        p_genre.className = 'card-text fw-bold'
        p_genre.innerText = `✔ 장르 : ${movie_res.genres}`

        const p_popularity = document.createElement('p')
        p_popularity.className = 'card-text fw-bold'
        p_popularity.innerText = `✔ 관객수 : ${movie_res.popularity}`

        const p_vote = document.createElement('p')
        p_vote.className = 'card-text fw-bold'
        p_vote.innerText = `✔ 평점 : ${movie_res.vote_average}`

        const p_release_date = document.createElement('p')
        p_release_date.className = 'card-text fw-bold'
        p_release_date.innerText = `✔ 개봉일 : ${movie_res.release_date}`

        const a = document.createElement('a')
        a.innerText = 'DETAIL'
        a.href = `#`
        a.id='detailMovie'
        a.className = `btn-hover color-1 ${movie_res.id}`

        bodyDiv.append(h1, br, br, p_overview, br, br, p_genre, p_popularity, p_vote, p_release_date, a)
        colDiv.append(bodyDiv)
        imgDiv.append(img)
        rowDiv.append(imgDiv, colDiv)
        cardDiv.append(rowDiv)
        movieList.append(cardDiv)
      })

      detail_btns = document.querySelectorAll('#detailMovie')
      detail_btns.forEach(detail_button => {
        detail_button.addEventListener('click', function(event){
          event.preventDefault()
          const movie_id = detail_button.className.split(' ')[2]
          console.log(movie_id)
          var exist = 0
          for (var movie of movies_all) {
            if ( movie.id == movie_id ){
              exist = 1
              var movie_pk = movie.pk
              break
            }
          }
          if (exist == 0) {
            location.href = `http://127.0.0.1:8000/search/detail/${movie_id}`
          } else {
            location.href = `http://127.0.0.1:8000/${movie_pk}`
          }
        })
      })
    })
  })

  popularityBtn.addEventListener('click', function(event){
    event.preventDefault()
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/recommended/popularity/'
    })
    .then(res => {
      const movies_res = res.data.results
      movies_res.forEach(movie_res => {
        const cardDiv = document.createElement('div')
        cardDiv.className= 'card mt-5 mb-3'

        const rowDiv = document.createElement('div')
        rowDiv.className= 'row g-0'

        const imgDiv = document.createElement('div')
        imgDiv.className = 'col-md-4'

        const img = document.createElement('img')
        img.src = `https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie_res.poster_path}`
        img.className = 'img-fluid rounded-start'

        const colDiv = document.createElement('div')
        colDiv.className = 'col-md-8'

        const bodyDiv = document.createElement('div')
        bodyDiv.className = 'card-body'

        const h1 = document.createElement('h1')
        h1.id = 'cardtitle'
        h1.className = 'card-title fw-bold'
        h1.style.background = 'linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd)'
        h1.style.WebkitBackgroundClip = 'text'
        h1.style.WebkitTextFillColor = 'transparent'
        h1.innerText = movie_res.title

        const br = document.createElement('br')

        const p_overview = document.createElement('p')
        p_overview.id = 'cardbody'
        p_overview.className = 'card-text'
        p_overview.innerText = movie_res.overview

        const p_genre = document.createElement('p')
        p_genre.className = 'card-text fw-bold'
        p_genre.innerText = `✔ 장르 : ${movie_res.genres}`

        const p_popularity = document.createElement('p')
        p_popularity.className = 'card-text fw-bold'
        p_popularity.innerText = `✔ 관객수 : ${movie_res.popularity}`

        const p_vote = document.createElement('p')
        p_vote.className = 'card-text fw-bold'
        p_vote.innerText = `✔ 평점 : ${movie_res.vote_average}`

        const p_release_date = document.createElement('p')
        p_release_date.className = 'card-text fw-bold'
        p_release_date.innerText = `✔ 개봉일 : ${movie_res.release_date}`

        const a = document.createElement('a')
        a.innerText = 'DETAIL'
        a.href = `#`
        a.id='detailMovie'
        a.className = `btn-hover color-1 ${movie_res.id}`

        bodyDiv.append(h1, br, br, p_overview, br, br, p_genre, p_popularity, p_vote, p_release_date, a)
        colDiv.append(bodyDiv)
        imgDiv.append(img)
        rowDiv.append(imgDiv, colDiv)
        cardDiv.append(rowDiv)
        movieList.append(cardDiv)
      })

      detail_btns = document.querySelectorAll('#detailMovie')
      detail_btns.forEach(detail_button => {
        detail_button.addEventListener('click', function(event){
          event.preventDefault()
          const movie_id = detail_button.className.split(' ')[2]
          var exist = 0
          for (var movie of movies_all) {
            if ( movie.id == movie_id ){
              exist = 1
              var movie_pk = movie.pk
              break
            }
          }
          if (exist == 0) {
            location.href = `http://127.0.0.1:8000/search/detail/${movie_id}`
          } else {
            location.href = `http://127.0.0.1:8000/${movie_pk}`
          }
        })
      })
    })
  })

  nowPlayingBtn.addEventListener('click', function(event){
    event.preventDefault()
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/recommended/now_playing/'
    })
    .then(res => {
      console.log(res.data.results)
      const movies_res = res.data.results
      movies_res.forEach(movie_res => {
        const cardDiv = document.createElement('div')
        cardDiv.className= 'card mt-5 mb-3'

        const rowDiv = document.createElement('div')
        rowDiv.className= 'row g-0'

        const imgDiv = document.createElement('div')
        imgDiv.className = 'col-md-4'

        const img = document.createElement('img')
        img.src = `https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie_res.poster_path}`
        img.className = 'img-fluid rounded-start'

        const colDiv = document.createElement('div')
        colDiv.className = 'col-md-8'

        const bodyDiv = document.createElement('div')
        bodyDiv.className = 'card-body'

        const h1 = document.createElement('h1')
        h1.id = 'cardtitle'
        h1.className = 'card-title fw-bold'
        h1.style.background = 'linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd)'
        h1.style.WebkitBackgroundClip = 'text'
        h1.style.WebkitTextFillColor = 'transparent'
        h1.innerText = movie_res.title

        const br = document.createElement('br')

        const p_overview = document.createElement('p')
        p_overview.id = 'cardbody'
        p_overview.className = 'card-text'
        p_overview.innerText = movie_res.overview

        const p_genre = document.createElement('p')
        p_genre.className = 'card-text fw-bold'
        p_genre.innerText = `✔ 장르 : ${movie_res.genres}`

        const p_popularity = document.createElement('p')
        p_popularity.className = 'card-text fw-bold'
        p_popularity.innerText = `✔ 관객수 : ${movie_res.popularity}`

        const p_vote = document.createElement('p')
        p_vote.className = 'card-text fw-bold'
        p_vote.innerText = `✔ 평점 : ${movie_res.vote_average}`

        const p_release_date = document.createElement('p')
        p_release_date.className = 'card-text fw-bold'
        p_release_date.innerText = `✔ 개봉일 : ${movie_res.release_date}`

        const a = document.createElement('a')
        a.innerText = 'DETAIL'
        a.href = `#`
        a.id='detailMovie'
        a.className = `btn-hover color-1 ${movie_res.id}`

        bodyDiv.append(h1, br, br, p_overview, br, br, p_genre, p_popularity, p_vote, p_release_date, a)
        colDiv.append(bodyDiv)
        imgDiv.append(img)
        rowDiv.append(imgDiv, colDiv)
        cardDiv.append(rowDiv)
        movieList.append(cardDiv)
      })
      detail_btns = document.querySelectorAll('#detailMovie')
      detail_btns.forEach(detail_button => {
        detail_button.addEventListener('click', function(event){
          event.preventDefault()
          const movie_id = detail_button.className.split(' ')[2]
          var exist = 0
          for (var movie of movies_all) {
            if ( movie.id == movie_id ){
              exist = 1
              var movie_pk = movie.pk
              break
            }
          }
          if (exist == 0) {
            location.href = `http://127.0.0.1:8000/search/detail/${movie_id}`
          } else {
            location.href = `http://127.0.0.1:8000/${movie_pk}`
          }
        })
      })
    })
  })

  upComingBtn.addEventListener('click', function(event){
    event.preventDefault()
    const movieList = document.querySelector('#movieList')
    while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
    }

    axios({
      method: 'get',
      url: '/recommended/upcoming/'
    })
    .then(res => {
      const movies_res = res.data.results
      movies_res.forEach(movie_res => {
        const cardDiv = document.createElement('div')
        cardDiv.className= 'card mt-5 mb-3'

        const rowDiv = document.createElement('div')
        rowDiv.className= 'row g-0'

        const imgDiv = document.createElement('div')
        imgDiv.className = 'col-md-4'

        const img = document.createElement('img')
        img.src = `https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie_res.poster_path}`
        img.className = 'img-fluid rounded-start'

        const colDiv = document.createElement('div')
        colDiv.className = 'col-md-8'

        const bodyDiv = document.createElement('div')
        bodyDiv.className = 'card-body'

        const h1 = document.createElement('h1')
        h1.id = 'cardtitle'
        h1.className = 'card-title fw-bold'
        h1.style.background = 'linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd)'
        h1.style.WebkitBackgroundClip = 'text'
        h1.style.WebkitTextFillColor = 'transparent'
        h1.innerText = movie_res.title

        const br = document.createElement('br')

        const p_overview = document.createElement('p')
        p_overview.id = 'cardbody'
        p_overview.className = 'card-text'
        p_overview.innerText = movie_res.overview

        const p_genre = document.createElement('p')
        p_genre.className = 'card-text fw-bold'
        p_genre.innerText = `✔ 장르 : ${movie_res.genres}`

        const p_popularity = document.createElement('p')
        p_popularity.className = 'card-text fw-bold'
        p_popularity.innerText = `✔ 관객수 : ${movie_res.popularity}`

        const p_vote = document.createElement('p')
        p_vote.className = 'card-text fw-bold'
        p_vote.innerText = `✔ 평점 : ${movie_res.vote_average}`

        const p_release_date = document.createElement('p')
        p_release_date.className = 'card-text fw-bold'
        p_release_date.innerText = `✔ 개봉일 : ${movie_res.release_date}`

        const a = document.createElement('a')
        a.innerText = 'DETAIL'
        a.href = `#`
        a.id='detailMovie'
        a.className = `btn-hover color-1 ${movie_res.id}`

        bodyDiv.append(h1, br, br, p_overview, br, br, p_genre, p_popularity, p_vote, p_release_date, a)
        colDiv.append(bodyDiv)
        imgDiv.append(img)
        rowDiv.append(imgDiv, colDiv)
        cardDiv.append(rowDiv)
        movieList.append(cardDiv)
      })

      detail_btns = document.querySelectorAll('#detailMovie')
      detail_btns.forEach(detail_button => {
        detail_button.addEventListener('click', function(event){
          event.preventDefault()
          const movie_id = detail_button.className.split(' ')[2]
          var exist = 0
          for (var movie of movies_all) {
            if ( movie.id == movie_id ){
              exist = 1
              var movie_pk = movie.pk
              break
            }
          }
          if (exist == 0) {
            location.href = `http://127.0.0.1:8000/search/detail/${movie_id}`
          } else {
            location.href = `http://127.0.0.1:8000/${movie_pk}`
          }
        })
      })
    })
  })

  const genres = {{ genres }}
  myRecommendBtn.addEventListener('click', function(event) {
    event.preventDefault()
    if (movies.length < 5) {
      alert('좋아하는 영화를 최소 5개 골라주세요.')
    } else {
      const movieList = document.querySelector('#movieList')
      while (movieList.hasChildNodes()) {
      movieList.removeChild( movieList.firstChild)
      }

      var genre = _.sample(genres)

      axios({
        method: 'get',
        url: `/recommended/my/${genre}`
      })
      .then(res => {
        const movies = res.data
        movies.forEach(movie => {
          const cardDiv = document.createElement('div')
          cardDiv.className= 'card mt-5 mb-3'
  
          const rowDiv = document.createElement('div')
          rowDiv.className= 'row g-0'
  
          const imgDiv = document.createElement('div')
          imgDiv.className = 'col-md-4'
  
          const img = document.createElement('img')
          img.src = `https://www.themoviedb.org/t/p/w600_and_h900_bestv2${movie.poster_path}`
          img.className = 'img-fluid rounded-start'
  
          const colDiv = document.createElement('div')
          colDiv.className = 'col-md-8'
  
          const bodyDiv = document.createElement('div')
          bodyDiv.className = 'card-body'
  
          const h1 = document.createElement('h1')
          h1.id = 'cardtitle'
          h1.className = 'card-title fw-bold'
          h1.style.background = 'linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd)'
          h1.style.WebkitBackgroundClip = 'text'
          h1.style.WebkitTextFillColor = 'transparent'
          h1.innerText = movie.title
  
          const br = document.createElement('br')
  
          const p_overview = document.createElement('p')
          p_overview.id = 'cardbody'
          p_overview.className = 'card-text'
          p_overview.innerText = movie.overview
  
          const p_genre = document.createElement('p')
          p_genre.className = 'card-text fw-bold'
          p_genre.innerText = `✔ 장르 : ${movie.genres}`
  
          const p_popularity = document.createElement('p')
          p_popularity.className = 'card-text fw-bold'
          p_popularity.innerText = `✔ 관객수 : ${movie.popularity}`
  
          const p_vote = document.createElement('p')
          p_vote.className = 'card-text fw-bold'
          p_vote.innerText = `✔ 평점 : ${movie.vote_average}`
  
          const p_release_date = document.createElement('p')
          p_release_date.className = 'card-text fw-bold'
          p_release_date.innerText = `✔ 개봉일 : ${movie.release_date}`
  
          const a = document.createElement('a')
          a.innerText = 'DETAIL'
          a.href = `#`
          a.id='detailMovie'
          a.className = `btn-hover color-1 ${movie.id}`
  
          bodyDiv.append(h1, br, br, p_overview, br, br, p_genre, p_popularity, p_vote, p_release_date, a)
          colDiv.append(bodyDiv)
          imgDiv.append(img)
          rowDiv.append(imgDiv, colDiv)
          cardDiv.append(rowDiv)
          movieList.append(cardDiv)
        })
      })
    }
  })
</script>
{% endblock script %}