{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');

  #title {
    font-family: 'Do Hyeon', sans-serif;
  }

  #cardtitle {
    font-family: 'Black Han Sans', sans-serif;
  }

  #cardbody {
    font-family: 'Noto Sans KR', sans-serif;
  }

  input {
    color: #666;
    z-index: 2;
    border: 0 none;
  }

  input:focus {
    outline: 0 none;
  }

  input:focus + button {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  input:focus + button .fa {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    color: #fff;
  }
  
  button {
    z-index: 1;
    width: 50px;
    border: 0 none;
    background: #ceb980;
    cursor: pointer;
    border-radius: 0 5px 5px 0;  
    -webkit-transform: translate(-50px, 0);
        -ms-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  
  .fa-search {
    font-size: 1.4rem;
    color: #29abe2;
    z-index: 3;
    top: 25%;
    -webkit-transform: translate(-190px, 0);
        -ms-transform: translate(-190px, 0);
            transform: translate(-190px, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  .buttons {
    margin: 5%;
    text-align: center;
  }

  .btn-hover {
    width: 300px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 100px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .btn-hover:hover {
    background-position: 200% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .btn-hover:focus {
    outline: none;
  }

  .btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  .btn-hover.color-2 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
</style>


<div class="d-flex justify-content-end mt-3">
  <input onkeypress="if(event.keyCode==13){searchinput();}" type="text" id="keyword" name="keyword" placeholder="영화검색"
  style="
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
">
  <button id="search" class="text-white fw-bold"  style="
  position: relative;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
">검색</button> 
</div>

<h1 id="title" style="font-size: 50px;">"{{ keyword }}" 검색 결과</h1>
<br>

<div class="row" align="center">
  {% for response in responses.results %}
  <div class="card mx-3 my-3" style="width: 18rem;">
    <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{response.poster_path}}' class="card-img-top" alt="POSTER NONE">
    <div class="card-body">
      <h5 class="card-title" id="cardtitle" style="background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{response.title}}</h5>
      <p class="card-text fw-bold" id="cardbody">평점 : {{response.vote_average}}</p><br>
      <a id="detailMovie" href="#" class="btn-hover color-1 {{response.id}}">DETAIL</a>
      {% if user.is_superuser %}
        <a id="addMovie" href="#" class="btn-hover color-2 {{response.id}}">영화 추가</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}


{% block script %}
  <script>
    const searchbtn = document.querySelector('#search')
    searchbtn.addEventListener('click', function(){
      if (keyword.value.length < 2){
        alert('두 글자 이상 입력해주세요.')
      } else {
        window.location.href = `http://127.0.0.1:8000/search/index/${keyword.value}`
      }
    })

    function searchinput(){
      if (keyword.value.length < 2){
        alert('두 글자 이상 입력해주세요.')
      } else {
        window.location.href = `http://127.0.0.1:8000/search/index/${keyword.value}`
      }
    }

    const movies = JSON.parse("{{ movies_js | escapejs }}")
    const add_btns = document.querySelectorAll('#addMovie')
    add_btns.forEach(add_button => {
      add_button.addEventListener('click', function(event){
        event.preventDefault()
        const movie_id = add_button.className.split(' ')[2]
        var exist = 0
        for (var movie of movies) {
          if ( movie.id == movie_id ) {
            exist = 1
            break
          }
        }

        if (exist == 0) {
          axios.defaults.xsrfCookieName = 'csrftoken'
          axios.defaults.xsrfHeaderName = 'X-CSRFToken'

          axios.post(`http://127.0.0.1:8000/${movie_id}/movie/create`)
          .then(res => {
          alert('영화가 추가되었습니다.')
          location.reload()
        })
          .catch(err =>
          console.log(err))
        } else {
          alert('이미 있는 영화입니다.')
        }
      })
    })

    const detail_btns = document.querySelectorAll('#detailMovie')
    detail_btns.forEach(detail_button => {
      detail_button.addEventListener('click', function(event){
        event.preventDefault()
        const movie_id = detail_button.className.split(' ')[2]
        var exist = 0
        for (var movie of movies) {
          if ( movie.id == movie_id ){
            exist = 1
            console.log(movie)
            var movie_pk = movie.pk
            break
          }
        }

        if (exist == 0) {
          location.href = `http://127.0.0.1:8000/search/detail/${movie_id}`
        } else {
          location.href = `http://127.0.0.1:8000/${movie_pk}`
        }
      })
    })
  </script>
{% endblock script %}