{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');
    
    #title {
      font-family: 'Gothic A1', sans-serif;
    }

    #submit {
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 200px;
      height: 50px;
      border: 1px solid skyblue;
      background-color: skyblue;
      color: white;
    }
  </style>

  <a class="d-flex justify-content-end mt-2" href="{% url 'community:index' %}">
    <i class="bi bi-arrow-left-square" style="color: #50C785; font-size: 2rem;"></i>
  </a>
  <div align="center">
    <h1 id="title" style="border-radius: 5px;padding: 0.6em 1em;background: #F1F1F3;">NEW REVIEW</h1>
    <br>
    <br>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.title }}
      <br>
      {{ form.movie_title }}
      <br>
      {{ form.rank }}
      <br>
      {{ form.content }}
      <br>
      <input id="submit" type="submit" value="업로드하기" class="fw-bold">
    </form>
  </div>
  <hr class="mt-5">

{% endblock %}
