{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">DETAIL</h2>
  <h3>{{ review.title }}</h3>
  <hr>
  <div style="display: inline;">작성자: <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user}}</a></div>
  {% if request.user == review.user %}
    <form action="{% url 'community:delete' review.pk %}" method="POST" style="display: inline">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
  {% endif %}
  <p>영화 제목: {{ review.movie_title }}</p>
  <p>내용: {{ review.content }}</p>
  <p>평점: {{ review.rank }}</p>
  <p>작성 시각: {{ review.created_at }}</p>
  <p>수정 시각: {{ review.updated_at }}</p>

  <form id="likeForm" action="{% url 'community:like' review.pk %}" method="POST" class="d-inline">
    {% csrf_token %}
    {% if user in review.like_users.all %}
      <button>추천 취소</button>
    {% else %}
      <button>추천</button>
    {% endif %}
    <p>{{ review.like_users.all|length }} 명이 이 글을 추천합니다.</p>
  </form>
  <hr>

  <h4>댓글 목록</h4>
  <div id="comment">
    {% if comments|length %}
      <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
    {% endif %}
    {% for comment in comments %}
      <div>
        {{ comment.user }} - {{ comment.content }}
        {% if comment.user == request.user %}
        <button id="delete" class="{{comment.pk}}">삭제</button>
        {% endif %}
      </div>
    {% empty %}
      <p><b>댓글이 없어요..</b></p>
    {% endfor %}
  </div>
  <hr>

  {% if request.user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[back]</a>
{% endblock  %}

{% block script %}
  <script>
    const likeforms = document.querySelectorAll('#likeForm')
    likeforms.forEach(likeform => {
      likeform.addEventListener('click', function(event){
        event.preventDefault()
        const likebtn = likeform.children[1]
        const likep = likeform.children[2]

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'

        axios.post(likeform.action)
        .then(response => {
          console.log('딸깍')
          if (likebtn.innerText == '추천'){
            likebtn.innerText = '추천 취소'
          } else {
            likebtn.innerText = '추천'
          }
          likep.innerText = `${response.data.count} 명이 이 글을 좋아합니다.`
        }) 
      })
    })

    const review_pk = {{ review.pk }}
    const delete_buttons = document.querySelectorAll('#delete')
    delete_buttons.forEach(delete_button => {
      delete_button.addEventListener('click', function(){
        const comment_pk = delete_button.className

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'

        axios.post(`http://127.0.0.1:8000/community/${review_pk}/comments/${comment_pk}/delete`)
        .then(res =>
        $('#comment').load(window.location.href+' #comment'))
        .catch(err =>
        console.log(err))
      })
    })
  </script>
{% endblock script %}